# Database Configuration
# format: postgres://USER:PASSWORD@HOST:PORT/NAME?sslmode=disable
DATABASE_URL=postgres://fintrack:fintrack_secret@localhost:5433/fintrack?sslmode=disable

# API Port
PORT=8080
