# Database Configuration
# format: postgres://USER:PASSWORD@HOST:PORT/NAME?sslmode=disable
DATABASE_URL=postgres://fintrack:fintrack_secret@localhost:5433/fintrack?sslmode=disable

# API Port
PORT=8080

# JWT Configuration
JWT_SECRET=d1b2bf8a8f92d99e850f6f5555914e3706b1eda5d86b9b463bb2447efbe66096

ALLOWED_ORIGINS=https://your-vercel-app.vercel.app,http://localhost:5173
